<header class="main-header">
  <div class="container">
    <div class="logo">👠 <span>Passionisse</span></div>
    <nav class="nav-links">
      <a routerLink="/" routerLinkActive="active">🏠 Accueil</a>
      <a routerLink="/catalog" routerLinkActive="active">📦 Catalogue</a>
    <!-- <a routerLink="/signin" routerLinkActive="active">🔐 Connexion</a>-->
      <a routerLink="/cart" routerLinkActive="active" class="cart-link">
        🛒 Panier <span class="cart-count">0</span>
      </a>
    </nav>
  </div>
</header>
