<app-header></app-header>

<div class="container">
  <div class="form-box">
    <form #signInForm="ngForm" class="form" (ngSubmit)="signIn()">
      <div class="sign-in" i18n>Connexion</div>
      <div class="sub-text" i18n>pour découvrir plus...</div>

      <input
        name="email"
        required
        email
        #email="ngModel"
        [(ngModel)]="credentials.email"
        placeholder="Adresse e-mail"
        type="email"
        i18n-placeholder
      />
      <em class="error" *ngIf="email.errors?.['required'] && email.touched" i18n>
        L'e-mail est requis
      </em>
      <em class="error" *ngIf="email.errors?.['email'] && email.touched" i18n>
        Le format de l'e-mail est invalide
      </em>

      <input
        name="password"
        required
        #password="ngModel"
        [(ngModel)]="credentials.password"
        placeholder="Mot de passe"
        type="password"
        i18n-placeholder
      />
      <em class="error" *ngIf="password.invalid && password.touched" i18n>
        Le mot de passe est requis
      </em>

      <div class="buttons">
        <button
          type="submit"
          [disabled]="signInForm.form.invalid"
          class="button cta"
          i18n
        >
          Se connecter
        </button>
        
  <a class="register-link" routerLink="/register" i18n>Créer un compte</a>
      </div>
 
      <div class="signInError" *ngIf="signInError" i18n>
        Erreur de connexion ! Veuillez réessayer.
      </div>
    </form>
  </div>

  <div class="image-box">
    <img src="assets/images/1.jpg" alt="illustration de connexion" i18n-alt />
  </div>
</div>


<app-footer></app-footer>
