<div class="catalog">
  <h2>List du produit</h2>
    <div class="product-list">
      @for (product of products; track product.id) {
        <div class="product-card" [class]="getQuantity(product.quantity)">
            <img [src]="product.imageUrl || '/assets/images/default-product.png'"
            [alt]="product.name"
            class="product-image"
            (error)="handleImageError($event)">
          <div class="product-info">
            <h3>{{product.name}}</h3>
            <p class="price">{{product.price | currency:'EUR':'symbol':'1.2-2'}}</p>
            <div class="btn">
            <button style="background-color:rgb(72, 69, 69); ">Acheter</button>
            <button class="b" (click)="showDetails(product.id)" style="background-color:rgb(72, 69, 69);  margin-left:180px;">Voir détails</button>
            </div>
          </div>
       
        </div>
      }
    </div>
  </div>
  
  @if (selectedProductId) {
    <app-product-details [productId]="selectedProductId"></app-product-details>
  }