.cart-container {
  max-width: 900px;
  margin: 80px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.cart-item {
  display: flex;
  gap: 20px;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.product-img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.item-info {
  flex: 1;
}

.item-info h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
}

.item-info p {
  margin: 4px 0;
  font-size: 0.95rem;
  color: #555;
}

.remove-btn,
.clear-btn,
.checkout-btn {
  background-color: #e91e2f;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

.remove-btn:hover,
.clear-btn:hover,
.checkout-btn:hover {
  background-color: #c21818;
  transform: scale(1.03);
}

.cart-summary {
  margin-top: 30px;
  text-align: right;
}

.empty-cart {
  text-align: center;
  margin-top: 50px;
  font-size: 1.1rem;
  color: #555;
}

.item-info p input[type="number"] {
  width: 50px;

  border: 1.5px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 300;
  transition: border-color 0.3s ease;

  outline: none;
}

.item-info p input[type="number"]:focus {
  border-color: #e91e2f;
  box-shadow: 0 0 5px rgba(233, 30, 47, 0.6);
}


.checkout-btn {
  background-color: #f30f0f; 
  color: white;
  font-weight: 700;
  padding: 12px 22px;
  border-radius: 10px;
  font-size: 1.1rem;
  margin-right: 12px;
  box-shadow: 0 4px 8px rgba(249, 12, 12, 0.4);
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: none;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #882121;
  transform: scale(1.05);
}

.clear-btn {
  background-color: #ff2c07; /* jaune vif */
  color: #333;
  font-weight: 600;
  padding: 12px 22px;
  border-radius: 10px;
  font-size: 1.1rem;
  box-shadow: 0 4px 8px rgba(255, 193, 7, 0.4);
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: none;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: #3f0906;
  transform: scale(1.05);
}


.cart-summary button + button {
  margin-left: 10px;
}
