<app-header></app-header>

<div class="products">
  <div class="container mt-5">

    <div class="filters">
      <a routerLink="/catalog" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="button">Tous les articles</a>
      <a routerLink="/catalog" [queryParams]="{filter:'hauts'}" routerLinkActive="active" class="button">Talons hauts</a>
      <a routerLink="/catalog" [queryParams]="{filter:'sandales'}" routerLinkActive="active" class="button">Sandales plates</a>
      <a routerLink="/catalog" [queryParams]="{filter:'Chaussures'}" routerLinkActive="active" class="button">Chaussures plates</a>
            <a routerLink="/catalog" [queryParams]="{filter:'compenses'}" routerLinkActive="active" class="button">Chaussures compensées</a>
      <a routerLink="/catalog" [queryParams]="{filter:'bottes'}" routerLinkActive="active" class="button">Bottes branchées</a>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let _product of getFilteredProducts()">
        <div [ngStyle]="{ 'color': _product.quantity < 10 && _product.quantity > 0 ? 'red' : 'initial' }">
          <ng-container *ngIf="_product.quantity > 0">
            <app-product-details 
              [product]="_product" 
              [isLowStock]="_product.quantity < 10 && _product.quantity > 0"
              (showDetails)="showDetails($event)">
            </app-product-details>
          </ng-container>
        </div>
      </div>
    </div>

    <app-page-details 
      *ngIf="selectedProduct" 
      [product]="selectedProduct" 
      (close)="closeDetails()">
    </app-page-details>

  </div>
</div>

<app-footer></app-footer>
