<app-header></app-header>

<div class="detail-box" *ngIf="product">  
  <img [src]="product.productImage" [alt]="product.productID" />

  <div class="detail-info">
    <h1>{{ product.productTitle }}</h1>
    
    <p><span i18n>Quantité :</span> {{ product.quantity }}</p>
    <p><span i18n>Catégorie :</span> {{ product.category }}</p>
    <p><span i18n>Prix :</span> {{ product.productPrice }}</p>

    <p><span i18n></span> {{ product.productDescription }}</p> 

    <button (click)="addToCart()" class="cta" i18n>
      🛒 Ajouter au panier
    </button>
    
  </div>
</div>

<app-footer></app-footer>
