

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color:white;
  background-color: #f9f9f9;
}
.register-form {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color:white;
  border-radius: 12px red;
  box-shadow: 0 4px 12px rgba(165, 49, 49, 0.1);
}

.register-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #7e1616;
}

.register-form input,
.register-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #6c1010;
  border-radius: 6px;
  font-size: 16px;
  transition: border 0.3s;
}

.register-form input:focus,
.register-form select:focus {
  border-color: #e3211a;
  outline: none;
}

.register-form button {
  background-color: #a91b1b;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 20%;
}

.register-form button:hover {
  background-color: #531111;
}


.sign-in {
  font-size: 2rem;
  font-weight: 700;
  color: #c62828;
  margin-bottom: 0.5rem;
  text-align: center;
  letter-spacing: -0.5px;
}

.sub-text {
  font-size: 0.95rem;
  color: #110d0d;
  margin-bottom: 2rem;
  text-align: center;
}
